html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0D1924;    
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font);
} 

:root {
    /* Main Colors */
    --deep-ocean-blue: #2D5B86;
    --lavender-purple: #9A51A6;
    --midnight-blue: #14205E;
    --lavender-to-violet: linear-gradient(90deg, #9A51A6, #5F489F);
    --white-to-violet: linear-gradient(90deg, #F8F8F8, #5F489F);
  
    /* Secondary Colors */
    --petroleum-blue: #0D1924;
    --anthracite-gray: #2E2E3A;
    --medium-gray: #606060;
    --light-gray: #BFBFBF;
    --pure-white: #FCFCFC;

    --max-width: 240rem;
    /* Ancho del diseño de Figma */
    --content-witdh: 140rem;

    --primary-font: "Space Grotesk", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    --horizontal-padding: 9.2rem;
    --vertical-padding: 4.3rem;
  }

  h1 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 3.5rem;
  }    

  h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 2.5rem;
  }

  h3 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 2rem;
    
  }

  p {
    
    font-weight: 400;
    font-size: 1.8rem;
  }

  .sub_1 {
    font-weight: 400;
    font-size: 2.5rem;
  }

  .sub_2 {
    font-weight: 400;
    font-size: 2.0rem;

  }

  .sub_3 {
    font-weight: 400;
    font-size: 1.5rem;

  }
